# Week 1

In [1]:
sales_record = {
    'price': 3.24,
    'num_items': 4,
    'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [2]:
import csv
% precision 2
with open('./Data/mpg.csv') as csvfile:
    mpg=list(csv.DictReader(csvfile))
#把每一行的数据都座位一个dictionary的形式出现
mpg[:1]
# 看这个list有多少个东西，就是element 的话就用 len()
#len(mpg)

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [3]:
mpg[0].keys()    #一个list里面的key 其实就是column name

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [4]:
mpg[0]['cty']

'18'

In [5]:
i = 0
sumcty =0
for i in mpg:
    sumcty += float(i['cty'])  #############???????????????????

sumcty/len(mpg)

16.86

In [6]:
sum(float(d['cty']) for d in mpg)/len(mpg)

16.86

In [7]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [8]:
# inorder to calculate cty per cylinders 
ctympgbycyl = []

for c in cylinders:
    summpg =0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] ==c:
            summpg +=float(d['cty'])
            cyltypecount +=1
    ctympgbycyl.append((c, summpg/cyltypecount))

ctympgbycyl.sort(key=lambda x: x[0])
ctympgbycyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [9]:
# find the aerage highway mpg for vehicle classes
vehicleclasses =set(d['class'] for d in mpg)
vehicleclasses

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [10]:
highwaympgbyclass =[]

for c in vehicleclasses:
    summpg =0
    classtypecount =0
    for d in mpg:
        if d['class']==c:
            summpg +=float(d['hwy'])
            classtypecount +=1
    highwaympgbyclass.append((c, summpg/classtypecount))

highwaympgbyclass

[('pickup', 16.88),
 ('suv', 18.13),
 ('midsize', 27.29),
 ('minivan', 22.36),
 ('subcompact', 28.14),
 ('compact', 28.30),
 ('2seater', 24.80)]

# Dates and Times

In [11]:
import datetime as dt
import time as tm

In [12]:
tm.time()

1523497515.82

In [13]:
dtnow =dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 4, 11, 18, 45, 15, 843009)

In [14]:
dtnow.year,dtnow.month,dtnow.day,dtnow.hour,dtnow.minute,dtnow.second

(2018, 4, 11, 18, 45, 15)

In [15]:
delta = dt.timedelta(days =100)
delta

datetime.timedelta(100)

In [16]:
today=dt.date.today()

In [17]:
today-delta

datetime.date(2018, 1, 1)

## Advanced Python Objects, map()

In [18]:
# you don't declare variables within the object, just start using them   must include self
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self,new_location):
        self.location = new_location

In [19]:
person =Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

### MAP()

In [20]:
# map(function, iterable,...) return an iterator that applies function to every item of iterable, yielding the results. If 
# additional iterable arguments are passed, function must take that many arguments and is applied to the items from all iterables 
# in parallel.With multiple iterrables , ther iterator stops when the shorterst iterable is exhausted. For cases where the function
# inputs are already arranged into argument tuples, see itertools.starmap()

In [21]:
# you want to choose the minimun b/t two stores
store1 = [10.00,11.00,12.34,2.34]
store2 = [9.00,11.10,12.34,2.01]
cheapest =map(min,store1,store2)
cheapest    ## result is a lazy evaluation

In [22]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

In [23]:
# get people's title and last name : output like: Dr.Brooks using map
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title =person.split()[0]
    lastname=person.split()[-1]
    return ' {}{}'.format(title,lastname)     #####???? 这里为什么是{ }    跟dictionary 有关系吗？

list(map(split_title_and_name,people))

[' Dr.Brooks', ' Dr.Collins-Thompson', ' Dr.Vydiswaran', ' Dr.Romero']

### Lambada and List Comphehensions

In [24]:
my_function = lambda a,b,c: a+b    ##simple expression

In [25]:
my_function(1,2,3)

3

In [26]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
#for person in people:
    #print(split_title_and_name(person) == (lambda person:person.split()[0]+' '+person.split()[-1] ))
    #print(split_title_and_name(person) == (lambda x:x.split()[0] + ' '+x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0]+' '+person.split()[-1],people))

True

In [27]:
my_list = []
for number in range(0,10):
    if number % 2 ==0:
        my_list.append(number)
my_list

[0, 2, 4, 6, 8]

In [28]:
#rewrite the above function using list comphehensions
my_list2 = [number for number in range(0,10) if number % 2 ==0]
my_list2

[0, 2, 4, 6, 8]

In [29]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [i*j for i in range(10) for j in range(0,10)]

True

In [30]:
## Question  userid should be two letters followed by two numbers (eg: aa49)
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'
# correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

answer = [???]

SyntaxError: invalid syntax (<ipython-input-30-3ae8ff5b9dea>, line 6)

In [ ]:
import numpy as np

In [ ]:
#creating arrays
mylist=[1,2,3]
x =np.array(mylist)
x

In [ ]:
y = np.array([4,5,6])
y

In [ ]:
m = np.array([[7,8,9],[10,11,12]])
m

In [ ]:
m.shape

In [ ]:
n = np.arange(0,30,2)
n

In [ ]:
n =n.reshape(3,5)
n

In [ ]:
o =np.linspace(0,4,9)
o

In [ ]:
o.reshape(3,3)

In [ ]:
o.resize(3,3)
o

In [ ]:
np.ones((3,2))

In [ ]:
np.zeros((3,4))

In [ ]:
np.eye(3)

In [ ]:
np.diag(y)

In [ ]:
np.array([1,2,3]*3)

In [ ]:
a=np.repeat([1,2,3],3)
a

In [ ]:
p =np.ones([2,3],int)
p

In [ ]:
np.vstack([p,2*p])

In [ ]:
np.hstack([p,2*p])

Operations

In [ ]:
x+y

In [ ]:
x

In [ ]:
y

In [ ]:
x.dot(y)

In [ ]:
z =np.array([y,y**2])

In [ ]:
z

In [ ]:
z.shape

In [ ]:
z.T

In [ ]:
z.T.shape

In [ ]:
z.dtype

In [ ]:
z = z.astype('f')

In [ ]:
z.dtype

In [ ]:
a = np.array([-4,-2,1,3,5])

In [ ]:
a.sum()

In [ ]:
a.max()
a.min()

In [ ]:
a.mean()

In [ ]:
a.std()

In [ ]:
a.argmax()

# Indexing / Slicing

In [ ]:
a = np.arange(13)**2

In [ ]:
a

In [ ]:
a[0],a[4],a[0:3]

In [ ]:
a[1:5]

In [ ]:
a[-4:]

In [ ]:
a[-5::2]

In [ ]:
r=np.arange(36)

In [ ]:
r

In [ ]:
r.resize(6,6)

In [ ]:
r

In [ ]:
r[2,2]

In [ ]:
r[r>30]=30

In [ ]:
r

In [ ]:
r2 =r[:3,:3]

In [ ]:
r2

In [ ]:
r2[:]=0

In [ ]:
r

In [ ]:
r_copy=r.copy()

In [ ]:
r_copy

In [ ]:
r_copy[:]=10

In [ ]:
print(r_copy)
print()
print(r)

# Iterating over arrays

In [ ]:
test =np.random.randint(0,10,(4,3))

In [ ]:
test

In [ ]:
for row in test:
    print(row)

In [ ]:
for i in range(len(test)):
    print(test[i])

In [ ]:
for i, row in enumerate(test):
    print('row',i,'is',row)

In [ ]:
test2=test**2

In [ ]:
test2

In [ ]:
for i,j in zip(test,test2):
    print(i,"+",j,'=',i+j)